.footer-links a {
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fd8b07 !important; 
  text-decoration: underline !important;
}
.footer-links a:hover {
  color: #fd8b07 !important; 
  text-shadow: 0 0 5px rgba(251, 0, 0, 0.7);
}
.social-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.2);
}
.social-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 5px #ffffff22);
}


.social-icon:hover {
  transform: scale(1.2);
  filter: brightness(1) invert(0);
}
.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

